In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
#dir = 'C:\Users\Toly\Documents\GitHub\stats\Website Monitoring Analysis\Website Changes'

In [3]:
#xl = pd.ExcelFile("Website Tracking Team - Important Changes.xlsx", encoding = "ISO-8859-1")
#df = xl.parse('Important Changes')
#xl.sheet_names

In [5]:
#df = pd.read_excel('Website Tracking Team - Important Changes.xlsx', 'Important Changes', encoding='ISO-8859-1')

In [6]:
df = pd.read_csv('Website Tracking Team - Important Changes.csv', encoding = "ISO-8859-1")

In [8]:
s = pd.Series([1,3,5,np.nan,4,3])

In [11]:
dates = pd.date_range('20130101',periods=6)

In [15]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,
                  columns=list('ABCD'))

In [16]:
df

                   A         B         C         D
2013-01-01 -0.886488  1.120729  0.172935  1.509603
2013-01-02 -0.114941  0.445491 -0.023891 -1.123728
2013-01-03  0.588848 -1.014614  0.044192 -1.324864
2013-01-04  0.876171  0.357919 -1.755517  1.439016
2013-01-05  0.629054  0.790166 -1.013984 -0.783392
2013-01-06  0.372890  1.042948  2.189122 -0.313062

In [19]:
df2 = pd.DataFrame({ 'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })

In [25]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [48]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.509603  0.172935  1.120729 -0.886488
2013-01-02 -1.123728 -0.023891  0.445491 -0.114941
2013-01-03 -1.324864  0.044192 -1.014614  0.588848
2013-01-04  1.439016 -1.755517  0.357919  0.876171
2013-01-05 -0.783392 -1.013984  0.790166  0.629054
2013-01-06 -0.313062  2.189122  1.042948  0.372890

In [47]:
df

                   A         B         C         D
2013-01-01 -0.886488  1.120729  0.172935  1.509603
2013-01-02 -0.114941  0.445491 -0.023891 -1.123728
2013-01-03  0.588848 -1.014614  0.044192 -1.324864
2013-01-04  0.876171  0.357919 -1.755517  1.439016
2013-01-05  0.629054  0.790166 -1.013984 -0.783392
2013-01-06  0.372890  1.042948  2.189122 -0.313062

In [46]:
df.loc[dates[0],'A']

-0.88648810524804988

In [54]:
test = df[df>0].copy()

In [57]:
test['E'] = ['one', 'one','two','three','four','three']

In [60]:
test['E'].isin(['two','four'])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

In [61]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

In [66]:
df.at[dates[0],'A'] = 0

In [68]:
df.iat[0,1] = 0

In [69]:
df.loc[:,'D'] = np.array([5] * len(df))

In [70]:
df

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.172935  5
2013-01-02 -0.114941  0.445491 -0.023891  5
2013-01-03  0.588848 -1.014614  0.044192  5
2013-01-04  0.876171  0.357919 -1.755517  5
2013-01-05  0.629054  0.790166 -1.013984  5
2013-01-06  0.372890  1.042948  2.189122  5

In [71]:
df2 = df.copy()
df2[df2 > 0] = -df2

In [74]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [76]:
df1.iat[0,4] = 0

In [79]:
df1.dropna(how='any')

              A    B         C  D    E
2013-01-01  0.0  0.0  0.172935  5  0.0

In [87]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False   True
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True